<div class="entire" style="background-color: aqua;">
    <div class="main-content" style="background-color: red;">
        <div class="img-part" style="background-color: blue;">
            <img src="../../assets/play-removebg-preview.png">
        </div>
        <div class="content" style="background-color: brown;">
            <div class="matter">
            <b>“You work very hard , let's relax for some time by playing with friends which give more relaxation,Let's start the game”</b>

            </div>
            <div class="buttons">
                <button mat-raised-button>Play with computer</button>
                <button (click)="friend()" mat-raised-button>Play with friend</button>
            </div>
        </div>
    </div>
</div>

